<div class="container">
  <div class="text-center">
    <h2>ESTUDIOS</h2>
  </div>

  <div class="contenedor-aparatos">
    <div class="card mb-3" appCardsAnim [animacion]="'left'">
      <div class="row g-0">
        <div class="col-md-5">
          <img src="../../../assets/imgs/CAMPO VISUAL.jpg" class="img-fluid imagen" alt="...">
        </div>
        <div class="col-md-7">
          <div class="card-body text-center">
            <h5 class="card-title">CAMPO VISUAL COMPUTADO</h5>
            <p class="card-text">Se lo utiliza para los siguientes estudios:</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="bi bi-star card-icon"></i>CAMPIMETRÍA</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3" appCardsAnim [animacion]="'right'">
      <div class="row g-0">
        <div class="col-md-7 order-2 order-md-1">
          <div class="card-body text-center">
            <h5 class="card-title">TOMOGRAFÍA DE COHERENCIA OPTICA</h5>
            <p class="card-text">Se lo utiliza para los siguientes estudios:</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="bi bi-star card-icon"></i>TOMOGRAFÍA PAPILAR</li>
              <li class="list-group-item"><i class="bi bi-star card-icon"></i>TOMOGRAFÍA MACULAR</li>
              <li class="list-group-item"><i class="bi bi-star card-icon"></i>TOMOGRAFÍA ANTERIOR</li>
            </ul>
          </div>
        </div>
        <div class="col-md-5 order-1 order-md-2">
          <img src="../../../assets/imgs/OCT .jpg" class="img-fluid imagen" alt="...">
        </div>
      </div>
    </div>

    <div class="card mb-3" appCardsAnim [animacion]="'left'">
      <div class="row g-0">
        <div class="col-md-5">
          <img src="../../../assets/imgs/Microscopio Especular.jpg" class="img-fluid imagen" alt="...">
        </div>
        <div class="col-md-7">
          <div class="card-body text-center">
            <h5 class="card-title">MICROSCOPIO ESPECULAR</h5>
            <p class="card-text">Se lo utiliza para los siguientes estudios:</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="bi bi-star card-icon"></i>PAQUIMETRÍA</li>
              <li class="list-group-item"><i class="bi bi-star card-icon"></i>RECUENTO ENDOTELIAL</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3" appCardsAnim [animacion]="'right'">
      <div class="row g-0">
        <div class="col-md-7 order-2 order-md-1">
          <div class="card-body text-center">
            <h5 class="card-title">BIÓMETRO ÓPTICO</h5>
            <p class="card-text">Se lo utiliza para los siguientes estudios:</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="bi bi-star card-icon"></i>ECOMETRÍA</li>
              <li class="list-group-item"><i class="bi bi-star card-icon"></i>TOPOGRAFÍA ANTERIOR</li>
            </ul>
          </div>
        </div>
        <div class="col-md-5 order-1 order-md-2">
          <img src="../../../assets/imgs/lenstar-ls-900-1024x501.jpg" class="img-fluid imagen" alt="...">
        </div>
      </div>
    </div>

    <div class="card mb-3" appCardsAnim [animacion]="'left'">
      <div class="row g-0">
        <div class="col-md-5">
          <img src="../../../assets/imgs/YAG LASER.jpg" class="img-fluid imagen" alt="...">
        </div>
        <div class="col-md-7">
          <div class="card-body text-center">
            <h5 class="card-title">YAG LASER</h5>
            <p class="card-text">Se lo utiliza para los siguientes estudios:</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="bi bi-star card-icon"></i>IRIDOTOMÍA PERIFÉRICA</li>
              <li class="list-group-item"><i class="bi bi-star card-icon"></i>CAPSULOTOMÍA</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="mt-3 text-center">
    OLFTALMOLOGÍA GENERAL
  </h2>
  <h3 class="mt-2 text-center">
    CONSULTAS
  </h3>
  <div class="contenedor-consultas">
    <p><i class="bi bi-indent list-icon"></i>AGUDEZA VISUAL</p>
    <p><i class="bi bi-indent list-icon"></i>AUTOREFRACTOMETRÍA</p>
    <p><i class="bi bi-indent list-icon"></i>PRUEBA DE LENTES</p>
    <p><i class="bi bi-indent list-icon"></i>BIOMICROSCOPÍA</p>
    <p><i class="bi bi-indent list-icon"></i>TOMA DE PRESIÓN OCULAR</p>
    <p><i class="bi bi-indent list-icon"></i>OFTALMOPEDIATRÍA</p>
    <p><i class="bi bi-indent list-icon"></i>OBI (OFTALMOSCOPÍA BINOCULAR INDIRECTA)</p>
  </div>

  <p class="text mt-3 text">
    Asimismo, brindamos la posibilidad de realizar <span style="color: crimson;font-weight: 600;">CIRUGÍAS AMBULATORIAS</span>.
  </p>
</div>
