@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

$font: "Raleway", sans-serif;

.container{
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $font;
}

.contenedor-aparatos{
    margin-top: 2rem;
}

.card{
    color: white;
    background-color: #304a97;
}

.card-icon{
    color: white;
    margin-right: 0.5em;
}

.card-body{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.list-group{
    --bs-list-group-bg:transparent;
    --bs-list-group-color:white;
}

.list-group-item{
    border: none;
}

.imagen{
    width: 100%;
    height: 40vh;
    object-fit: inherit;
    padding: 2%;
    border-radius: var(--bs-border-radius);
}

.text{
    font-size: larger;
    text-align: center;
}

.contenedor-consultas{
    background-color: rgba(192, 192, 192, 0.6);
    max-width: 35rem;
    display: flex;
    flex-wrap: wrap;
    border: 2px black inset;
    border-radius: 10px;
    flex-direction: column;
    align-content: flex-start;
    text-align: left;
    padding: 0.5rem 1rem;;
    p{
        font-size: 1.3em;
    }
}

.list-icon{
    color: #020224;
}


//Cards Anims
.slide-in-left{-webkit-animation:slide-in-left 1s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-left 1s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}

.slide-in-right{-webkit-animation:slide-in-right 1s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-right 1s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}

@media screen and (max-width: 991px) {

    .card-body{
        margin-top: unset;
        height: 100%;
    }

    .imagen{
        height: 15rem;
        border-radius: 8px;
    }
}

@media screen and (max-width: 768px) {
    .imagen{
        height: 25rem;
        border-radius: 15px;
    }

    .contenedor-consultas{
        p{
            font-size: medium;
        }
    }
}
