<div class="container">
  <div class="text-center">
    <h2>Dispositivos de Oftamología</h2>
    <p class="text">ESTUDIOS</p>
  </div>

  <div class="contenedor-aparatos">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card h-100 text-center">
          <img
            src="../../../assets/imgs/CAMPO VISUAL.jpg"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">CAMPO VISUAL COMPUTADO</h5>
            <p class="card-text">Se lo utiliza para los siguientes estudios:</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">CAMPIMETRIA</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100 text-center">
          <img src="../../../assets/imgs/OCT .jpg" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">TOMOGRAFIA DE COHERENCIA OPTICA</h5>
            <p class="card-text">Se lo utiliza para los siguientes estudios:</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">TOMOGRAFIA PAPILAR</li>
              <li class="list-group-item">TOMOGRAFIA MACULAR</li>
              <li class="list-group-item">TOMOGRAFIA ANTERIOR</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100 text-center">
          <img
            src="../../../assets/imgs/Microscopio Especular.jpg"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">MICROSCOPIO ESPECULAR</h5>
            <p class="card-text">Se lo utiliza para los siguientes estudios:</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">PAQUIMETRIA</li>
              <li class="list-group-item">RECUENTO ENDOTELIAL</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100 text-center">
          <img
            src="../../../assets/imgs/lenstar-ls-900-1024x501.jpg"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">BIOMETRO OPTICO</h5>
            <p class="card-text">Se lo utiliza para los siguientes estudios:</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">ECOMETRIA</li>
              <li class="list-group-item">TOPOGRAFIA ANTERIOR</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col mx-auto">
        <div class="card h-100 text-center">
          <img src="../../../assets/imgs/YAG LASER.jpg" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">YAG LASER</h5>
            <p class="card-text">Se lo utiliza para los siguientes estudios:</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">IRIDOTOMIA PERIFERICA</li>
              <li class="list-group-item">CAPSULOTOMIA</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p class="text mt-3">
OLFTALMOLOGIA GENERAL,CONSULTAS
  </p>
  <div class="contenedor-consultas">
    <p><i class="bi bi-indent icon"></i>AGUDEZA VISUAL</p>
    <p><i class="bi bi-indent icon"></i>PRUEBA DE LENTES</p>
    <p><i class="bi bi-indent icon"></i>BIOMICROSCOPIA</p>
    <p><i class="bi bi-indent icon"></i>TOMA DE PRESION OCULAR</p>
    <p><i class="bi bi-indent icon"></i>OBI (OFTALMOSCOPIA BINOCULAR INDIRECTA)</p>
  </div>

  <p class="text mt-3">
    Asimismo, brindamos la posibilidad de realizar <span style="color: crimson;font-weight: 600;">CIRUGIAS AMBULATORIAS</span>.
  </p>
</div>
