<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <a class="navbar-brand" [routerLink]="['/home']">
          <img src="../../../assets/logo/logo.png" alt="Favicon" class="d-inline-block"
            style="height: 50px; padding-right: 10px;">
            L'Altra Salud
        </a>
        <div class="container-button">
            <button [routerLink]="['/home']">Inicio</button>
            <button [routerLink]="['/services']">Servicios</button>
            <button [routerLink]="['/consulta']">Consulta</button>
        </div>
      </div>
    </div>
  </nav>
  
  <section>
    <ng-content select="router-outlet"></ng-content>
  </section>