<app-navbar (scrollToElement)="scrollToElement($event)"></app-navbar>

<div class="container" id="inicio" data-bs-spy="scroll" data-bs-target="#main-navbar">
    <div class="row">
        <h1 class="display-4 custom-title">L´Altra Salud</h1>
        <app-carousel></app-carousel>
        <div class="col-md-12 text-center">
            <p class="parrafo" >Con el objetivo de mejorar la salud visual de nuestros pacientes contamos con tecnologia avanzada y los mejores profesionales para brindarte una excelence atencion.</p>
        </div>
    </div>

    <div class="prestaciones" id="servicios">
        <app-listado-prestaciones></app-listado-prestaciones>
    </div>
</div>