.container {
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 4em;
    margin-bottom: 4em;
}

/* Estilo para el título */
.custom-title {
    color: #2958E6;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

/* Estilo para el párrafo */
.parrafo {
    color: #6c757d;
    font-size: 1.25rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}

.prestaciones::before{
    margin-top: 1em;
    display: flex;
    content: "";
    width: 100%;
    border: 1px #C0C0C0 solid;
}